{% extends "web/base.html" %}
{% block title %}SPARKY Infrastructure{% endblock %}

{% block content %}
  <div class="h2">SPARKY Infrastructure</div>
  <hr class="mb-0" />
  <div class="row">
    {% for node in nodes %}
      <div class="col-sm-6 mt-4">
        <div class="card">
          <div class="card-header">
            <span class="float-start">{{ node.name }}</span>
            {% if node.online %}
              <span class="float-end badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill">Online</span>
            {% else %}
              <span class="float-end badge bg-danger-subtle border border-danger-subtle text-danger-emphasis rounded-pill">Offline</span>
            {% endif %}
          </div>
          <div class="card-body">
            Internal IP: {{ node.ipAddresses|first }} <br />
            IP: {{ node.route|slice:":-4" }}
            {% if node.routeEnabled %}
              <span href="#" class="badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill">Enabled</span>
            {% else %}
              <span href="#" class="badge bg-danger-subtle border border-danger-subtle text-danger-emphasis rounded-pill">Disabled</span>
            {% endif %}
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:2 %}
        </div>
        <div class="row">
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}