{% extends "web/base.html" %}
{% block title %}SPARKY Probes{% endblock %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="h2">SPARKY Probes <a href="#" data-bs-toggle="modal" data-bs-target="#addProbeModal" class="float-end"><i class="fa-solid fa-plus"></i></a></div>
  <hr class="mb-0" />
  <div class="row">
    {% for probe in probes %}
      <div class="col-sm-6 mt-4">
        <div class="card">
          <div class="card-header">
            <span class="float-start">{{ probe.hostname }}</span>
            {% if probe.knownToHS %}
              {% if probe.online %}
                <span class="float-end badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill">Online</span>
              {% else %}
                <span class="float-end badge bg-danger-subtle border border-danger-subtle text-danger-emphasis rounded-pill">Offline</span>
              {% endif %}
            {% else %}
              <span class="float-end badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill">Unknown</span>
            {% endif %}
          </div>
          <div class="card-body">
            <span class="fw-bold">Hardware</span><br />
            {{ probe.hwDisplayName }}
            <hr />
            <span class="fw-bold">Networking</span><br />
            IP: {{ probe.ip }}
            {% if probe.knownToHS %}
              {% if probe.routeEnabled %}
                <button class="badge text-decoration-underline bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill"
                        data-bs-toggle="modal"
                        data-bs-target="#toggleRouteModal"
                        data-bs-route-id="{{ probe.routeID }}"
                        data-bs-route-enabled="{{ probe.routeEnabled }}"
                        data-bs-route="{{ probe.ip }}"
                >Enabled</button>
              {% else %}
                <button class="badge text-decoration-underline bg-danger-subtle border border-danger-subtle text-danger-emphasis rounded-pill"
                        data-bs-toggle="modal"
                        data-bs-target="#toggleRouteModal"
                        data-bs-route-id="{{ probe.routeID }}"
                        data-bs-route-enabled="{{ probe.routeEnabled }}"
                        data-bs-route="{{ probe.ip }}"
                >Disabled</button>
              {% endif %}
            {% else %}
              <span class="badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill">Unknown</span>
            {% endif %}
            <br />
            MAC: {{ probe.mac_address }}
            <hr />
            <span class="fw-bold">Tests</span><br />
            iperf3:
            {% if probe.test_iperf3 %}
              <span class="badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill">Enabled</span>
            {% else %}
              <span class="badge bg-danger-subtle border border-danger-subtle text-danger-emphasis rounded-pill">Disabled</span>
            {% endif %}
            <br />
            iperf3 bandwidth limit: {{ probe.test_iperf3_bandwidth|default_if_none:"unlimited" }}
            <br />
            Blackbox HTTP(S) tests:
            {% if probe.test_blackbox %}
              <span class="badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill">Enabled</span>
            {% else %}
              <span class="badge bg-danger-subtle border border-danger-subtle text-danger-emphasis rounded-pill">Disabled</span>
            {% endif %}
            <br />
            Traceroute tests:
            {% if probe.test_traceroute %}
              <span class="badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill">Enabled</span>
            {% else %}
              <span class="badge bg-danger-subtle border border-danger-subtle text-danger-emphasis rounded-pill">Disabled</span>
            {% endif %}
            <br />
            Smokeping tests:
            {% if probe.test_smokeping %}
              <span class="badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill">Enabled</span>
            {% else %}
              <span class="badge bg-danger-subtle border border-danger-subtle text-danger-emphasis rounded-pill">Disabled</span>
            {% endif %}
          </div>
          <div class="card-footer">
            <div class="float-end">
              <button type="button"
                      class="btn btn-sm btn-danger me-2"
                      data-bs-toggle="modal"
                      data-bs-target="#deleteProbeModal"
                      data-bs-probe-id="{{ probe.id }}"
                      data-bs-probe-name="{{ probe.hostname }}"
              >Delete</button>
              <button type="button"
                      class="btn btn-sm btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#editProbeModal"
                      data-bs-probe-id="{{ probe.id }}"
                      data-bs-probe-name="{{ probe.hostname }}"
                      data-bs-test-iperf3-enabled="{{ probe.test_iperf3 }}"
                      data-bs-test-iperf3-bandwidth="{{ probe.test_iperf3_bandwidth|default_if_none:"" }}"
              >Edit</button>
            </div>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:2 %}
        </div>
        <div class="row">
      {% endif %}
    {% endfor %}
  </div>

  <div class="modal fade" id="toggleRouteModal" tabindex="-1" aria-labelledby="toggleRouteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="toggleRouteModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" action="{% url "toggle-route" %}">
          <div class="modal-body">
            <span id="toggleRouteModalInfoText"></span>
            {% csrf_token %}
            <input type="hidden" id="toggleRouteModalRouteID" name="route_id">
            <input type="hidden" id="toggleRouteModalRouteEnabled" name="route_enabled">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button id="toggleRouteModalSubmitButton" type="submit" class="btn"></button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addProbeModal" tabindex="-1" aria-labelledby="addProbeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create a new probe</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" action="{% url "add-probe" %}">
          <div class="modal-body">
            {% csrf_token %}
            {% bootstrap_form add_probe_form %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Create probe</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteProbeModal" tabindex="-1" aria-labelledby="deleteProbeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteProbeModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" action="{% url "delete-probe" %}">
          <div class="modal-body">
            <span id="deleteProbeModalInfoText"></span>
            {% csrf_token %}
            <input type="hidden" id="deleteProbeModalProbeID" name="probe_id">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-danger">Delete probe</button>
          </div>
        </form>
      </div>
    </div>
  </div>

    <div class="modal fade" id="editProbeModal" tabindex="-1" aria-labelledby="editProbeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editProbeModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" action="{% url "edit-probe" %}">
          <div class="modal-body">
            {% csrf_token %}
            {% bootstrap_form edit_probe_form %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="{% static "web/js/probes.js" %}"></script>
{% endblock %}