{% extends "web/base.html" %}
{% block title %}SPARKY Probes{% endblock %}
{% load static %}

{% block content %}
  <div class="h2">SPARKY Probes <a href="#"><i class="float-end fa-solid fa-plus"></i></a></div>
  <hr class="mb-0" />
  <div class="row">
    {% for probe in probes %}
      <div class="col-sm-6 mt-4">
        <div class="card">
          <div class="card-header">
            <span class="float-start">{{ probe.hostname }}</span>
            {% if probe.knownToHS %}
              {% if probe.online %}
                <span class="float-end badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill">Online</span>
              {% else %}
                <span class="float-end badge bg-danger-subtle border border-danger-subtle text-danger-emphasis rounded-pill">Offline</span>
              {% endif %}
            {% else %}
              <span class="float-end badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill">Unknown</span>
            {% endif %}
          </div>
          <div class="card-body">
            IP: {{ probe.ip }}
            {% if probe.knownToHS %}
              {% if probe.routeEnabled %}
                <button class="badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill"
                        data-bs-toggle="modal"
                        data-bs-target="#toggleRouteModal"
                        data-bs-route-id="{{ probe.routeID }}"
                        data-bs-route-enabled="{{ probe.routeEnabled }}"
                        data-bs-route="{{ probe.ip }}"
                >Enabled</button>
              {% else %}
                <button class="badge bg-danger-subtle border border-danger-subtle text-danger-emphasis rounded-pill"
                        data-bs-toggle="modal"
                        data-bs-target="#toggleRouteModal"
                        data-bs-route-id="{{ probe.routeID }}"
                        data-bs-route-enabled="{{ probe.routeEnabled }}"
                        data-bs-route="{{ probe.ip }}"
                >Disabled</button>
              {% endif %}
            {% else %}
              <span class="badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill">Unknown</span>
            {% endif %}
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:2 %}
        </div>
        <div class="row">
      {% endif %}
    {% endfor %}
  </div>

  <div class="modal fade" id="toggleRouteModal" tabindex="-1" aria-labelledby="toggleRouteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="toggleRouteModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" action="{% url "toggle-route" %}">
          <div class="modal-body">
            <span id="toggleRouteModalInfoText"></span>
            {% csrf_token %}
            <input type="hidden" id="toggleRouteModalRouteID" name="route_id">
            <input type="hidden" id="toggleRouteModalRouteEnabled" name="route_enabled">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button id="toggleRouteModalSubmitButton" type="submit" class="btn"></button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="{% static "web/js/probes.js" %}"></script>
{% endblock %}